.skills-item{
    z-index: 1;
    border: 1px solid #ffd700;
    background-color: rgba(2,253,216,0.1);
    border-radius: 4px;
    margin-bottom: 5em;
    box-shadow: rgba(240, 239, 239, 0.3) 0px 13px 28px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    &:hover{
        transition: all 1s  ease;
        transform: scale(1.06);
    }
    .skill-item_heading{
        color: white;
        font-size: 14px;
        margin: 0 1em;
    }
    .skill-items_info{
        color: #ffd700;
        font-size: 15px;
        margin: 0 1em;
    }
    .skill-items_tech{
        h3{
            margin-bottom: -10px;
            color: white;
            margin-right: 10px;
        }
        
        justify-items: center;
        align-items: center;
        color: #ffd700;
        font-size: 15px;
        margin: 0 1em;
        margin-top: 2em;
    }
    .skill-items_work{
        h3{
            color: white;
            margin-right: 10px;
        }
        display: flex;
        justify-items: center;
        align-items: center;
        color: #ffd700;
        font-size: 15px;
        margin: 0 1em;
        a{
            color: #ffd700;
            text-decoration: none;
        }
    }
    .skill-items_exp{
        h3{
            color: white;
            margin-right: 10px;
        }
        display: flex;
        justify-items: center;
        align-items: center;
        color: #ffd700;
        font-size: 15px;
        margin: 0 1em;
        a{
            color: #ffd700;
            text-decoration: none;
        }
    }
}
.not-flipped{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    img{
        width: 440px;
        height: 240px;
    }
    .title-container{
        display: flex;
        align-items: center;
        width: 100%;
        h1{
            flex: 1;
            font-weight: 400;
            color: #fff;
            font-size: 25px;
            margin-left: 1em;

            &:hover{
                color: #ffd700;
                
            }
        }
        button{
            background-color: transparent;
            color: #ffd700;
            padding: 3px;
            border: none;
            margin-right: 1em;
            cursor: pointer;
    
            .MuiSvgIcon-root{
                font-size: 26px;
            }
            &:hover{
                color: #fff;
                
            }
        }
    }
}
.flipped{
    width: 450px;
    button{
        background-color: transparent;
        color: #ffd700;
        padding: 3px;
        border: none;
        margin-left: 1em;
        cursor: pointer;

        .MuiSvgIcon-root{
            font-size: 26px;
        }
        &:hover{
            color: #fff;
            
        }
    }
    
}
@media (max-width:900px) {
    .skills-item{
        width: 340px;
        margin-bottom: 3em;
    }
    .not-flipped{
        
        img{
            width: 340px;
        }
    }
    .skills-heading::after{
        top:30px;
        left: -130px;
    }
}